name: nightly

on:
  schedule:
    - cron: "0 4 * * *"  # every day at 4am
  workflow_dispatch:  # allows manual triggering of the workflow

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7

      - name: Build
        env:
          APIFY_TOKEN: ${{ secrets.APIFY_TOKEN }}
        run: uv run plucker build

      - name: Check
        env:
          APIFY_TOKEN: ${{ secrets.APIFY_TOKEN }}
        run: uv run plucker check
